[Desktop Entry]
Type=Application
Name=BubiZ-2500
GenericName=MZ-2500 Emulator
Comment=SHARP MZ-2500 emulator
Exec=BubiZ-2500 %f
Icon=bubiz
Terminal=false
Categories=Game;Emulator;
MimeType=application/x-d88-disk-image;
